.#*
\#*\#
~
*API*
*.bak
config/.config/ranger/*
!config/.config/ranger/rc.conf
!config/.config/ranger/rifle.conf
config/.local/share/ranger/*
!config/.local/share/ranger/bookmarks
config/.mozilla/*
!config/.mozilla/firefox/2x4tnepw.default/chrome/userChrome.css
!config/.mozilla/firefox/2x4tnepw.default/prefs.js
!config/.mozilla/firefox/profiles.ini
config/.scripts/playstate
!config/.ssh/*
!config/.ssh/config
emacs/.emacs.d/*
!emacs/.emacs.d/config.org
!emacs/.emacs.d/ledger.org
!emacs/.emacs.d/snippets*
.*.git/
*.log
*.pdf
vim/.vim/bundle/*
vim/.vim/.netrwhist
vim/.vim/plugged/*
