[user]
	email = tran.tuan-dat@mailbox.org
	name = TuDatTr
[alias]
	ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	stat = status
	cd = git rev-parse --show-toplevel
	ignore = update-index --assume-unchanged
[core]
	excludesfile = ~/.gitignore