[submodule "vim/.vim/pack/plugins/start/vim-go"]
	path = vim/.vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go/
[submodule "vim/.vim/plugin/vim/.vim/plugged/vim-polyglot"]
	path = vim/.vim/plugin/vim/.vim/plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
