! Color
*.foreground:   #98abb2
*.background:   #181b28
*.cursorColor:  #ffffff

! black
*.color0:       #161925
*.color8:       #0c0e14

! red
*.color1:       #8b8b8b
*.color9:       #e91e63

! green
*.color2:       #237885
*.color10:      #00ffaf

! yellow
*.color3:       #ffbb24
*.color11:      #f8ec09

! blue
*.color4:       #007fff
*.color12:      #00c4ff

! magenta
*.color5:       #8c00fd
*.color13:      #cd00df

! cyan
*.color6:       #00e8b7
*.color14:      #00d3a7

! white
*.color7:       #98abb2
*.color15:      #c0bfbc

